<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{badRequest.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css}" type="text/css"/>
</head>
<body>
<div class="page-wrap d-flex flex-row align-items-center"
     style="min-height: 50vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block" th:text="#{badRequest.error}"></span>
                <div class="mb-4 lead" th:text="#{badRequest.desc}"></div>
                <a th:href="@{/}"
                   class="btn btn-link"
                   th:text="#{badRequest.backToHome}"></a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>