<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header"></head>
<body>

<div th:insert="~{fragments/navBar}"></div>
<section class="pt-5 pb-5 mt-0 align-items-start d-flex bg-light"
         style="min-height: 75vh;">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex-row text-center h-100">
            <div class="col-12">
                <div class="card shadow">
                    <h1 class="card-header text-center m-4"
                        th:text="#{addDish.headLine}">
                    </h1>
                    <div class="card-body mx-4">
                        <form class="d-grid gap-4"
                              th:object="${dishDto}"
                              th:action="@{/dishes/new}"
                              th:method="post">
                            <div class="row g-3 form-group input-group align-items-center ">
                                <div class="col-auto">
                                    <label for="name_input"
                                           class="col-form-label">
                                        <i th:text="#{dish.name}"></i>
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-control "
                                           type="text"
                                           id="name_input"
                                           aria-describedby="nameHelpInline"
                                           th:field="*{name}">
                                </div>
                                <div class="col-auto">
                                     <span id="nameHelpInline"
                                           class="form-text"
                                           th:text="#{addDish.nameHelpline}">
                                        </span>
                                </div>
                                <div th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}"></div>
                            </div>
                            <div>
                                <table class="table table-hover table-bordered caption-top">
                                    <caption th:text="#{addDish.tableDesc}"></caption>
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="col-sm-1 align-middle" th:text="#{addDish.row}"></th>
                                        <th class="col-sm-3 align-middle" th:text="#{addDish.product}"></th>
                                        <th class="col-sm-2 align-middle" th:text="#{addDish.numberOfProducts}"></th>
                                        <th class="col-sm-2 align-middle" th:text="#{addDish.unit}"></th>
                                        <th class="col-sm-3 align-middle">
                                            <button class="btn btn-outline-success"
                                                    type="submit"
                                                    name="addRow">
                                                <i class="fa fa-plus"></i>
                                                <span th:text="#{addDish.addRow}"></span>
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="row,rowStat : *{productRows}">
                                        <th th:text="${rowStat.count}"
                                            scope="row"
                                            class="text-secondary align-middle"></th>
                                        <td class="align-middle">
                                            <select class="form-select"
                                                    th:field="*{productRows[__${rowStat.index}__].product}">
                                                <option th:each="var : ${allProducts}"
                                                        th:value="${var}"
                                                        th:text="${var}">
                                                </option>
                                            </select>
                                        </td>
                                        <td class="align-middle">
                                            <input class="form-control" type="text"
                                                   th:field="*{productRows[__${rowStat.index}__].amount}"/>
                                        </td>
                                        <td class="align-middle">
                                            <select class="form-select">
                                                <!--                                                TODO - add: th:field="*{unit}" -->
                                                <option th:each="unitOpt : ${T(com.infoshare.myfitwebapp.enums.Units).values()}"
                                                        th:value="${unitOpt}" th:text="${unitOpt.value}"></option>
                                            </select>
                                        </td>
                                        <td class="align-middle">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm">
                                                        <button class="btn btn-outline-success"
                                                                type="submit"
                                                                name="addRow"
                                                        >
                                                            <i class="fa fa-plus"></i>
                                                            <span th:text="#{addDish.add}"></span>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm">
                                                        <button class="btn btn-outline-danger"
                                                                type="submit"
                                                                name="removeRow"
                                                                th:value="${rowStat.index}">
                                                            <i class="fa fa-trash"></i>
                                                            <span th:text="#{addDish.removeRow}"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <button class="btn btn-primary"
                                        type="submit"
                                        th:text="#{addDish.submit}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>