<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/header :: header"></head>
<body>
<style>
    .col-form-label {
        color: black;
    }
</style>

<div th:insert="~{fragments/navBar}"></div>

<section class="py-5 mt-0 align-items-start d-flex bg-light"
         style="min-height: 75vh;">
    <div class="container w-50">
        <div class="d-flex justify-content-center">
            <div class="card shadow">
                <h1 class="card-header text-center m-4" th:text="#{fillInfo.headLine}"></h1>
                <div class="card-body mx-4">
                    <form class="form-group needs-validation"
                          th:object="${user}"
                          th:action="@{fillInfo}"
                          th:method="post">
                        <div class="row mb-4">
                            <div class="col-6">
                                <label class="col-form-label"
                                       for="name_input"
                                       th:text="#{user.name}">
                                </label>
                                <input class="form-control"
                                       type="text"
                                       id="name_input"
                                       th:field="*{name}">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}"
                                     th:errors="*{name}"></div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6">
                                <label for="birthDate" class="col-form-label"
                                       th:text="#{user.birthDate}"></label>
                                <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">
                                <div>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <legend class="col-form-label" th:text="#{user.gender}"></legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="female"
                                               th:field="*{gender}"
                                               th:value="${T(com.infoshare.myfitwebapp.enums.Gender).FEMALE}">
                                        <label class="form-check-label" for="female"
                                               th:text="#{user.value.gender.female}"></label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="male"
                                               th:field="*{gender}"
                                               th:value="${T(com.infoshare.myfitwebapp.enums.Gender).MALE}">
                                        <label class="form-check-label" for="male"
                                               th:text="#{user.value.gender.male}"></label>
                                    </div>
                                    <div>
                                        <div class="alert alert-danger" role="alert"
                                             th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6">
                                <label class="col-form-label" for="weight_input" th:text="#{user.weight}"> </label>
                                <input class="form-control" type="number" id="weight_input" th:field="*{weight}">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('weight')}"
                                     th:errors="*{weight}"></div>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label" for="height_input" th:text="#{user.height}"> </label>
                                <input class="form-control" type="number" id="height_input" th:field="*{height}">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('height')}"
                                     th:errors="*{height}"></div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6">
                                <label for="lvlJobActivity" class="col-form-label"
                                       th:text="#{user.levelOfJobActivity}"></label>
                                <select id="lvlJobActivity" class="form-select" aria-label="Default select example"
                                        name="lvlJobActivity" th:field="*{levelOfJobActivity}"/>
                                <option th:each="lvl : ${T(com.infoshare.myfitwebapp.enums.ActivityLevel).values()}"
                                        th:value="${lvl}"
                                        th:text="${lvl.name()}">
                                </option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="lvlPrivateActivity" class="col-form-label"
                                       th:text="#{user.levelOfPrivateActivity}"></label>
                                <select id="lvlPrivateActivity" class="form-select" aria-label="Default select example"
                                        name="lvlPrivateActivity" th:field="*{levelOfPrivateActivity}"/>
                                <option th:each="lvl : ${T(com.infoshare.myfitwebapp.enums.ActivityLevel).values()}"
                                        th:value="${lvl}"
                                        th:text="${lvl.name()}">
                                </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-6">
                                <label class="col-form-label" for="weightGoal_input"
                                       th:text="#{user.weightGoal}"></label>
                                <input class="form-control" type="number" id="weightGoal_input"
                                       th:field="*{weightGoal}"><br>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('weightGoal')}"
                                     th:errors="*{weightGoal}"></div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <button class="btn btn-outline-success" type="submit" th:text="#{user.button}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>