<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{index.title}"></title>
</head>
<body>

<div th:insert="~{fragments/navBar}"></div>

<h1>Welcome to myFit!</h1>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div sec:authorize="isAuthenticated()">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div sec:authorize="isAnonymous()" >
    <p><a th:href="@{/login}">Login</a></p>
</div>
</body>
</html>