<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:insert="~{fragments/navBar}"></div>
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-light"
         style="min-height: 50vh;">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card shadow">
                <h1 class="card-header text-center m-4"
                    style="background-color: #f0fff0;"
                    th:text="#{addProductPage.headLine}"></h1>
                <div class="card-body mx-4">
                    <form class="d-grid gap-4"
                          th:object="${product}"
                          th:action="@{/products/new}"
                          th:method="post">
                        <div class="form-group input-group mb-3">
                                <span class="input-group-text border-0" id="basic-addon1">@</span>
                                <input
                                        type="text"
                                        class="form-control rounded"
                                        th:placeholder="#{product.name}"
                                        aria-label="Name"
                                        aria-describedby="basic-addon1"
                                />

                                <label th:for="name_input" th:text="#{product.name}"> </label>
                                <input type="text" id="name_input" th:field="*{name}">
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>
                        </div>
                        <div class="form-outline">
                            <label
                                    class="form-label"
                                    th:for="kcalPer100g_input"
                                    th:text="#{product.kcalPer100g}"> <span th:text="#{product.kcalPer100g}"></span>
                            </label>

                            <input  class="form-control"
                                    type="number" id="kcalPer100g_input"

                                    th:field="*{product.kcalPer100g}"/>
                            <div th:if="${#fields.hasErrors('product.kcalPer100g')}" th:errors="*{product.kcalPer100g}"></div>
                        </div>

                        <div class="form-outline">
                            <label th:for="fatPer100g_input" th:text="#{product.fatPer100g}"> </label>
                            <input type="number" id="fatPer100g_input" th:field="*{product.fatPer100g}">
                            <div th:if="${#fields.hasErrors('product.fatPer100g')}" th:errors="*{product.fatPer100g}"></div>
                        </div>
                        <div class="form-outline">
                            <label th:for="carbohydratesPer100g_input" th:text="#{product.carboPer100g}"> </label>
                            <input type="number" id="carbohydratesPer100g_input" th:field="*{product.carbohydratesPer100g}">
                            <div th:if="${#fields.hasErrors('product.carbohydratesPer100g')}"
                                 th:errors="*{product.carbohydratesPer100g}"></div>
                        </div>

                        <div class="form-outline">
                            <label th:for="proteinPer100g" th:text="#{product.protein100g}"></label><
                            <input type="number" id="proteinPer100g" th:field="*{product.proteinPer100g}">
                            <div th:if="${#fields.hasErrors('product.proteinPer100g')}" th:errors="*{product.proteinPer100g}"></div>
                        </div>

                        <div class="form-outline">
                            <button type="submit" th:text="#{productAdd.button}"></button>
                        </div>
                    </form>
                </div>
            </div>
</section>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>