<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:insert="~{fragments/navBar}"></div>

<section class="pt-5 pb-5 mt-0 align-items-start d-flex bg-light"
         style="min-height: 75vh;">
    <div class="container">
        <h1>Products</h1>
    </div>
</section>


<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>