<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
    <meta charset="UTF-8">
</head>
<body>
<div style="text-align: center">
    <h1>
        Wypełnij formularz aby dodać produkt do bazy danych!
    </h1>
    <p>
    <form>
        <label for="productName">Nazwa produktu</label><br>
        <input type="text" id="productName"><br>

        <label for="kcalPer100g">Kcal w 100g</label><br>
        <input type="number" id="kcalPer100g"><br>

        <label for="fatPer100g">Tłuszcz w 100g</label><br>
        <input type="number" id="fatPer100g"><br>

        <label for="carbohydratesPer100g">Węglowodany w 100g</label><br>
        <input type="number" id="carbohydratesPer100g"><br>

        <label for="proteinPer100g">Białko w 100g</label><br>
        <input type="number" id="proteinPer100g"><br>

    </form>
    </p>
</div>
</body>
</html>