<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: header"> </head>
<body>
<section class="vh-100" style="background-color: #eee;">
    <div th:insert="~{fragments/navBar}"></div>
    <div class="container-fluid h-25">
        <div class="row mx-auto align-items-center justify-content-center h-100">
            <div class="col-lg-12 col-xl-11">
                        <div class="justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"
                                   th:text="#{register.headLine}"></p>

                                <form th:object="${user}" th:action="@{/register}" th:method="post"
                                      class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label th:for="username_input" th:text="#{register.username}"
                                                   class="form-label"> </label>
                                            <input type="text" id="username_input" th:field="*{username}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div th:if="${param.error}">
                                        <p th:text="#{register.exists}"></p>
                                    </div>
                                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label th:for="password_input" th:text="#{register.password}"
                                                   class="form-label"> </label>
                                            <input type="password" id="password_input" th:field="*{password}"
                                                   class="form-control ">
                                        </div>
                                    </div>

                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input
                                                class="form-check-input me-2"
                                                type="checkbox"
                                                value=""
                                                id="terms-of-service"
                                        />
                                        <label class="form-check-label" for="terms-of-service">
                                            I agree all statements in <a
                                                href="https://infoshareacademy.com/privacypolicy/"
                                                class="text-body"><u>Terms of service</u></a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                                th:text="#{register.button}"></button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                            th:href="@{/login}" class="fw-bold text-body"><u>Login here</u></a></p>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</section>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>