<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <title th:text="#{user.title}"></title>
</head>
<body sec:authorize="isAuthenticated()">
<!-- TODO SEARCH BAR  -->

<div>
    <div class="card text-center">
        <div class="card-header">
            <h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Use Navigation Bar to use our app !</h5>
        </div>
    </div>
</div>
</body>
</html>